@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-stale-300: #d5e1ef;
  --color-stale-500: #68778D;
  --color-stale-900: #1f314f;
  --color-white: #ffffff;
  --spacing-200: 1em;
  --spacing-300: 1.5em;
  --spacing-500: 2.5em;
}

.text-preset-1 {
  font-size: 1.375em;
  line-height: 120%;
  letter-spacing: 0;
  font-weight: 700;
  color: var(--color-stale-900);
}

.text-preset-2 {
  font-size: 0.9375em;
  line-height: 140%;
  letter-spacing: 0.2;
  font-weight: 500;
  color: var(--color-stale-500);
}


.align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--color-stale-300);

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 20.125em;
  margin: var(--spacing-300);
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
  border-radius: 1em;
  background-color: var(--color-white);
  filter: drop-shadow(rgba(0, 0, 0, 0.05) 0.1rem 0.1rem 10px);
}

.card .card-image {
  width: 20.125em;
  border-radius: 0.6em;
  object-fit: contain;
  margin-bottom: var(--spacing-300);
}

.card .info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  text-align: center;
  padding-inline: 1em;
}